@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #C9C9C9, #8C7C68);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(90, 74, 45, 0.664);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#545C67;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(99, 85, 58, 0.808);
    
}

h2 {
    color:#8C7C68
}
p {
    text-align: justify;
}